<!doctype html>
<html>
<body>
  <form action = "/create_transaction" method = "POST">
    <label for="transaction_date_time">Trnsaction Date & Time:</label>
    <input type="datetime-local" name="transaction_date_time">
    <label for="transaction_name">Transaction Name:</label>
    <input type = "text" name = "transaction_name">
    <label for="product_details">Product Details:</label>
    <input type = "text" name = "product_details">
    <label for="product_seller">Product Seller:</label>
    <input type = "text" name = "product_seller">
    <label for="expenditure_category">Expenditure Category:</label>
    <input type = "text" name = "expenditure_category">
    <label for="expenditure_sub_category">Expenditure Sub-Category:</label>
    <input type = "text" name = "expenditure_sub_category">
    <label for="amount_spent">Amount Spent:</label>
    <input type = "number" name = "amount_spent"> 
    <input type = "submit" value = "Submit">
  </form>
</body>
</html>